
.App {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    border-radius: 4px;
    display: flex;

    align-items: center;
    justify-content: center;
}

.counterTable {
    border: 2px solid #61dafb;
    padding: 10px;
    border-radius: 4px;

}

.counter {
    background-color: #61dafb;
    height: 30px;
    margin-bottom: 10px;
    display: flex;

    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.buttons {
    border: 2px solid #61dafb;
    border-radius: 4px;
}

.button {
    border: none;
    background-color: #61dafb;
    margin: 10px;
    border-radius: 4px;
}

.button:disabled {
    background-color: cadetblue;
}

